.card-header {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}
